/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/app/config/parameters.yml
/build/
/vendor/
/bin/*
!/bin/deploy
/composer.phar
/.idea
/.DS_Store
/atlassian-ide-plugin.xml
/.travis.yml
/web/images/*
/web/js/
/web/css
*~
/.rsync_cache
/vagrant/.vagrant