<footer class="footer">
    <div class="container">
        <span class="col-lg-2" ></span>
        <span class="col-lg-1"><a href="https://github.com/msf0r/longest-streak">Github</a></span>
        <span class="col-lg-2" ></span>
        <span class="col-lg-2" >©2015</span>
    </div>

</footer>