<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Bootstrap core CSS -->
    {% block stylesheets %}
        {% stylesheets
            '@LSLongestStreakBundle/Resources/public/css/bootstrap.min.css'
            '@LSLongestStreakBundle/Resources/public/css/layout.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets  filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <!-- Custom styles for this template -->


<body>
<div id="wrap">
<div class="container">
    {% include '@LSLongestStreak/header.html.twig' %}

    {% block main_body %}{% endblock %}
</div>
</div>
{% include '@LSLongestStreak/footer.html.twig' %}

<div id="chrome_hitahintpanel" style="opacity: 0; display: none;"><input id="chrome_hitahintinput" type="text"></div><div id="chrome_hintswindow"></div><div id="chrome_linksearchpanel" style="opacity: 0; display: none;"><input id="chrome_linksearchinput" type="text"></div></body></html>
{% javascripts '@LSLongestStreakBundle/Resources/public/js/go-analytics.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
